---
title: "Contact | Satellite Web Agency"
description: "Contact"
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/contact.css">
<link rel="preload" as="image" href="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 640, height: 600 }) | avif
    %}" />
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact/" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 640, height:
            600 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 640, height:
            600 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 640, height:
            600 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2048,
            height: 942 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2048,
            height: 942 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2048,
            height: 942 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2500,
            height: 628 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2500,
            height: 628 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2500,
            height: 628 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/Hero_3.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library"
            width="1920" height="482" loading="eager" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact-265">
    <div class="cs-container">
        <div class="cs-left-section">
            <div class="cs-content">
                <h2 class="cs-title">Get Started Today</h2>
                <p class="cs-text">
                    Fill out your information below and we will reach out to you as soon as possible! Feel free to call
                    603-845-9940 to talk to someone immediately. We can also be reached by email at
                    <strong>Brad@Satellite-Web.com</strong>
                </p>
            </div>
            <form id="cs-form-265" name="Contact Form" method="post" data-netlify="true">
                <label>
                    Name
                    <input required type="text" id="name-265" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email-265" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone-265" name="phone" placeholder="Phone">
                </label>
                <label>
                    Current Website (Put n/a if you don't have one)
                    <input type="text" id="find-265" name="find-us" placeholder="https://www.myWebsite.com">
                </label>
                <label class="cs-label-message">
                    Additional Information
                    <textarea required name="Message" id="message-265" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Submit Message</button>
            </form>
        </div>

    </div>
</section>

{% endblock %}