// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1785 {
        background-color: rgba(33, 158, 188, .05);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16/16 * 1rem);
        position: relative;
        z-index: 1;

        .cs-container {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: calc(48/16 * 1rem);
            justify-content: center;
            margin: auto;
            max-width: calc(1280/16 * 1rem);
            width: 100%;
        }

        .cs-content {
            max-width: calc(750/16 * 1rem);
            text-align: center;
            width: 100%;
        }

        .cs-title {
            color: var(--primary);
            font-size: clamp(3.0625rem, 6vw, 5.25rem);
            margin-bottom: calc(32/16 * .7rem);
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
            margin-bottom: calc(32/16 * 1rem);
        }

        .cs-button-group {
            display: flex;
            flex-wrap: wrap;
            gap: calc(8/16 * 1rem);
            justify-content: center;
        }

        .cs-button-solid-head {
            background-color: transparent;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            font-size: calc(16/16 * 1.1rem);
            font-weight: 700;
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            padding: 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all .3s ease;
            z-index: 1;

            &:hover {
                // color: #ff07de;
                color: var(--primary);
            }
        }
        .cs-graphic {
            bottom: 0;
            height: auto;
            left: 50%;
            min-width: calc(1920/16 * 1rem);
            object-fit: cover;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;
            z-index: 0;
        }

        .cs-graphic-dark {
            display: none;
        }

        .cs-background {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -2;

            &:before {
                background: linear-gradient(rgba(0,0,0,0), #000);
                /* Overlay */
                content: "";
                display: block;
                height: 100%;
                left: 0;
                opacity: 0;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            img {
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #hero-1785 {
        /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
        padding-bottom: 14vw;
    }
}
                                

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #h-services-143 {
        /* 40px - 100px */
        padding: 0 calc(16 / 16 * 1em) clamp(2.5rem, 7.9vw, 6.25rem) calc(16 / 16 * 1rem);
        position: relative;
        /* give a higher z index than the hero so it can sit on top */
        z-index: 10;

        .cs-card-group {
            background-color: #fff;
            border-radius: calc(5 / 16 * 1rem);
            border-top: 8px solid var(--primary);
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            margin: 0 auto 0;
            /* negative margin pulls it up on top of the hero section */
            /* -46px to -76px - we're calculating whatever clamp is and multiplying by -1
            to make the value negative since clamp doesn't work with negative values */
            margin-top: calc(clamp(5rem, 13vw, 4.75rem) * -1);
            max-width: calc(465 / 16 * 1rem);
            /* 40px - 60px top and bottom, 16px - 44px left & right */
            padding: clamp(2.5rem, 4.7vw, 3.75rem) clamp(1rem, 5.3vw, 2.75rem);
            width: 100%;
        }

        .cs-item {
            list-style: none;
            margin: 0 auto calc(32 / 16 * 1rem);
            max-width: calc(360 / 16 * 1rem);
            width: 100%;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-icon {
            align-items: center;
            background: var(--primary);
            border-radius: 50%;
            display: flex;
            /* 68px - 88px */
            height: clamp(4.25rem, 8.8vw, 5.5rem);
            justify-content: center;
            margin: auto;
            /* 20px - 24px */
            margin-bottom: clamp(1.25rem, 5vw, 1.5rem);
            /* 68px - 88px */
            width: clamp(4.25rem, 8.8vw, 5.5rem);

            img {
                height: auto;
                /* 44px - 52px */
                width: clamp(2.75rem, 5.8vw, 3.25rem);
            }
        }

        .cs-title {
            color: var(--headerColor);
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            margin: 0 auto calc(8 / 16 * 1rem);
            text-align: center;
            text-transform: uppercase;
        }

        .cs-text {
            color: var(--bodyTextColor);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0 auto;
            max-width: calc(360 / 16 * 1rem);
            text-align: center;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #h-services-143 {
        .cs-card-group {
            align-items: center;
            column-gap: calc(40 / 16 * 1rem);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            /* -76px to -320px - we're calculating whatever clamp is and multiplying by -1
               to make the value negative since clamp doesn't work with negative values */
            margin-top: calc(clamp(4.75rem, 20vw, 20rem) * -1);
            max-width: calc(784 / 16 * 1rem);
        }

        .cs-item {
            max-width: calc(314 / 16 * 1rem);
            width: 45%;
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #h-services-143 {
        .cs-card-group {
            flex-wrap: nowrap;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            margin: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #h-services-143 {
            .cs-card-group {
                background: var(--medium);
            }

            .cs-icon {
                background: var(--darkTint);
            }

            .cs-title {
                color: #fff;
            }

            .cs-text {
                color: #fff;
            }
        }
    }
}
