// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2371 {
        background-color: rgba(33, 158, 188, .05);
        padding: var(--sectionPadding);

        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            max-width: calc(1280/16 * 1rem);
            width: 100%;
            
        }
        .cs-content {
            max-width: calc(750/16 * 1rem);
            text-align: center;
            width: 100%;
            h2 {
                margin-bottom: 1rem;
            }
        }
        .cs-card-group {
            display: grid;
            gap: calc(20/16 * 1rem);
            grid-template-columns: repeat(12, 1fr);
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .cs-item {
            align-items: flex-start;
            background-color: #fff;
            border-radius: calc(16/16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            grid-row: span 1;
            justify-content: center;
            list-style: none;
            margin: 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            /* 80px - 140px */
            padding-top: clamp(5rem, 10vw, 8.75rem);
            position: relative;
            text-align: left;
            width: 100%;
            z-index: 1;
        }

        .cs-icon {
            /* 80px - 120px */
            height: clamp(5rem, 9vw, 7.5rem);
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }

        .cs-h3 {
            color: var(--headerColor);
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: bold;
            line-height: 1.2em;
            margin: 0 0 calc(12/16 * 1rem) 0;
            text-align: inherit;
        }

        .cs-item-text {
            color: var(--bodyTextColor);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            max-width: calc(450/16 * 1rem);
            padding: 0;
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #services-2371 {
        .cs-item {
            grid-column: span 4;
        }
    }
}
                                
/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2420 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            background: var(--primary);
            /* background color overlay */
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.05;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: clamp(3rem, 6vw, 4rem);
            justify-content: center;
            margin: auto;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            width: 100%;
        }

        .cs-content {
            /* centers content horizontally, set to flex-start to left align */
            display: flex;
            flex-direction: column;
            max-width: calc(580/16 * 1rem);
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
        }

        .cs-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: clamp(3rem, 6vw, 4rem);
            width: 100%;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            padding: 1rem 0;
        }
        .cs-button-solid {
            align-self: center;
            width: 75%;
        }
      

        .cs-ul {
            align-items: flex-start;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: calc(8/16 * 1rem);
            list-style: none;
            margin: 0 0 calc(32/16 * 1rem) 0;
            padding: 0;
            width: 100%;
        }

        .cs-li {
            align-items: center;
            color: var(--bodyTextColor);
            display: flex;
            font-size: var(--bodyFontSize);
            font-weight: 700;
            gap: calc(12/16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            position: relative;
            text-align: left;
            width: 100%;
        }

        .cs-li-icon {
            display: block;
            flex: none;
            height: auto;
            position: relative;
            width: calc(16/16 * 1rem);
        }

        .cs-image-group {
            /* scaling entire section down. font-size starts at a min in vw, and stops when that vales equals .74em, resets at desktop */
            font-size: min(2.3vw, .6em);
            height: calc(704/16 * 1em);
            position: relative;
            width: calc(630/16 * 1em);
        }

        .cs-picture {
            display: block;
            height: calc(704/16 * 1em);
            position: relative;
            width: 100%;

            img {
                bottom: 0;
                height: 100%;
                left: 0;
                object-fit: contain;
                position: relative;
                width: 100%;
            }
        }

        .cs-circle {
            bottom: 50px;
            height: auto;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .cs-message {
            background-color: #fff;
            border-radius: calc(32/16 * 1em);
            display: block;
            font-weight: 700;
            left: 0;
            padding: calc(16/16 * 1em) calc(24/16 * 1em);
            position: absolute;
            text-align: center;
            top: 0;
            width: calc(197/16 * 1em);

            &:before {
                background: var(--primary);
                border-radius: calc(32/16 * 1em);
                /* background color overlay */
                content: "";
                display: block;
                height: 100%;
                left: 0;
                opacity: 0.1;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }

            &:after {
                background-color: transparent;
                border: calc(4/16 * 1em) solid var(--primary);
                border-radius: calc(32/16 * 1em);
                /* background color overlay */
                content: "";
                display: block;
                height: 100%;
                left: 0;
                opacity: 0.2;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }
        }

        .cs-arrow {
            height: auto;
            left: calc(50/16 * 1em);
            position: absolute;
            top: calc(99/16 * 1em);
            transform: rotate(-29deg);
            width: calc(71/16 * 1em);
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 1.9vw, 2rem);
            max-width: calc(580/16 * 1rem);
            width: 100%;
        }

        .cs-graphic-group {
            align-items: center;
            display: flex;
            flex: none;
            height: clamp(6rem, 10vw, 9.8125rem);
            justify-content: center;
            position: relative;
            /* 96px - 157px */
            width: clamp(6rem, 10vw, 9.8125rem);
        }

        .cs-circle-small {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .cs-graphic {
            height: auto;
            /* 55px - 96px */
            width: clamp(3.4375rem, 5vw, 6rem);
        }

        .cs-header {
            display: block;
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.9vw, 1.5625rem);
            font-weight: 700;
            margin-bottom: calc(12/16 * 1rem);
        }

        .cs-graphic-text {
            margin-bottom: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2420 {
        .cs-wrapper {
            flex-direction: row;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2420 {
        .cs-container {
            align-items: flex-start;
            flex-direction: row;
            max-width: calc(1280/16 * 1rem);

            .cs-button-solid {
                align-self: flex-start;
            }
        }

        .cs-image-group {
            /* prevent flexbox from squishing it */
            flex: none;
            /* reset the scale */
            font-size: min(0.95vw, 1rem);
            order: 2;
        }

        .cs-content-wrapper {
            width: 50%;
        }
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-701 {
        background-color: rgba(33, 158, 188, .05);
        padding: var(--sectionPadding);

        .cs-asterik {
            font-size: 0.7rem;
            padding: 0.4rem 0;
        }
        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            max-width: calc(1280 / 16 * 1em);
            position: relative;
            width: 100%;
        }

        .cs-content {
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            display: flex;
            flex-direction: column;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
        }

        .cs-card-group {
            align-items: center;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            margin: 0;
            padding: 0;
            perspective: 700px;
            transform-style: preserve-3d;
            width: 100%;
        }

        .cs-item {
            align-items: stretch;
            background-color: #fff;
            border-radius: .8rem;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            max-width: calc(500 / 16 * 1rem);
            /* 20px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3vw, 2.5rem) clamp(1rem, 3vw, 2rem);
            transition: all .3s;
            width: 100%;

            .cs-button-solid {
                border-radius: .5rem;
            }

            &.cs-popular {
                background-color: var(--primary);
                

                .cs-package {
                    color: var(--bodyTextColorDark);
                }

                .cs-price {
                    color: var(--bodyTextColorWhite);
                }

                .cs-desc,
                .cs-item-p,
                .cs-li {
                    color: var(--bodyTextColorDark);
                }

                .cs-button-solid {
                    background-color:#fff;
                    color: var(--headerColor);
                    transition: all 0.3s;
                }

            }
                        
            &:hover {
                box-shadow: 0 0 1rem rgba(0,0,0,.3);
            }
        }

        .cs-package {
            color: #767676;
            display: block;
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.4vw, 1rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            text-align: center;
            text-transform: uppercase;
        }

        .cs-price {
            color: var(--primary);
            /* 31px - 49px */
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            text-align: center;
        }

        .cs-desc {
            color: var(--bodyTextColor);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            opacity: 0.8;
            text-align: center;
        }

        .cs-item-p {
            color: var(--bodyTextColor);
            font-size: calc(16 / 16 * 1rem);
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
        }

        .cs-ul {
            align-items: flex-start;
            border-top: 1px solid var(--bodyTextColorDark);
            display: flex;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
            margin: calc(24 / 16 * 1rem) 0;
            padding: calc(24 / 16 * 1rem) 0 0 0;
        }

        .cs-li {
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            color: var(--bodyTextColor);
            display: flex;
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            gap: calc(16 / 16 * 1rem);
            justify-content: space-between;
            line-height: 1.2em;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            &.cs-disabled {
                opacity: .5;
            }
        }

        .cs-icon {
            display: block;
            height: auto;
            width: calc(18 / 16 * 1rem);
        }

        .cs-button-solid {
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            color: #fff;
            display: inline-block;
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            margin: 0;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            position: relative;
            text-align: center;
            text-decoration: none;
            
            z-index: 1;

        }

        .cs-price-button {
            border-radius: 0;
            /* pushes up against the cs-ul so if there's loess li's in the list, the button always pushes itself to the bottom */
            margin-top: auto;
            width: 100%;
            &:before {
                border-radius: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-701 {
        .cs-card-group {
            align-items: stretch;
            flex-direction: row;
            justify-content: center;
        }

        .cs-option2 {
            bottom: 0;
            top: auto;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-989 {
        padding: var(--sectionPadding);

        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            /* changes to 1280px at tablet */
            max-width: calc(584/16 * 1rem);
            width: 100%;
        }

        .cs-content {
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            display: flex;
            flex-direction: column;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
        }

        .cs-title {
            margin: 0;
            max-width: 24ch;
        }

        .cs-card-group {
            display: grid;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            grid-template-columns: repeat(12, 1fr);
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .cs-item {
            grid-column: span 12;
            grid-row: span 1;
            list-style: none;
            width: 100%;
        }

        .cs-picture {
            aspect-ratio: (328/260);
            display: block;
            /* 260px - 300px */
            min-height: clamp(16.25rem, 30vw, 18.75rem);
            position: relative;
            width: 100%;

            img {
                height: 100%;
                left: 0;
                /* Makes img tag act as a background image */
                object-fit: cover;
                /* pushes the top of the image to the top of the container */
                object-position: top;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        .cs-flex {
            align-items: flex-start;
            border: 1px solid #e8e8e8;
            border-top: none;
            /* prevents padding from affecting height and wodth */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            text-align: left;
            width: 100%;
        }

        .cs-name {
            color: var(--headerColor);
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
        }

        .cs-desc {
            color: var(--bodyTextColor);
            display: block;
            font-size: calc(16/16 * 1rem);
            font-weight: 400;
            line-height: 1.5em;
            /* 8px - 28px */
            margin: 0 0 clamp(0.5rem, 3.2vw, 1.75rem);
        }

        .cs-item-text {
            color: var(--bodyTextColor);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
        }
    }
}


/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-989 {
        .cs-card-group {
            align-items: stretch;
            flex-direction: row;
            justify-content: space-between;
        }
        .cs-container {
            
            max-width: calc(1280/16 * 1rem);
        }

        .cs-item {
            display: flex;
            flex-direction: row;
            grid-column: span 6;
        }

        .cs-picture {
            aspect-ratio: initial;
            max-width: calc(240/16 * 1rem);
        }
        

        .cs-flex {
            border-left: none;
            border-top: 1px solid #e8e8e8;
            flex: none;
            justify-content: flex-start;
            max-width: calc(390/16 * 1rem);
            padding-bottom: calc(64/16 * 1rem);
            padding-top: calc(64/16 * 1rem);
            width: 65%;
        }
    }
}
                                