// ─────────────────────────────────────────────────────────────────────────────
// CODESTITCH GLOBAL STYLES
// Core stylesheet containing CSS variables, dark mode styles, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* urbanist-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/urbanist-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* urbanist-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Urbanist';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/urbanist-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* urbanist-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/urbanist-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* anton-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anton-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* CodeStitch Core Styles + Reset */
@media only screen and (min-width: 0rem) {
    /* All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    :root {
        --primary: #3493ec;
        // --primary: #1DD3B0;
        --primaryLight: #9fcbf5;
        --primaryDark: #0d414e;
        --secondary: #ffba43;
        --secondaryLight: #b40000;
        --headerColor: #3493ec;
        // --headerColor: #07a58b;
        // --buttonTextColor: #084c61;
        --buttonTextColor: #3493ec;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;
        --bodyTextColorDark: #161616;

        /* Dark Mode Styles */
        --dark: #082032;
        --medium: #2c394b;
        --accent: #334756;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;
        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

        --headerFont: "Anton", Arial, sans-serif;
        --bodyFont: "Urbanist", Arial, sans-serif;
    }

    html,
    body {
        color: var(--bodyTextColor);
        font-family: var(--bodyFont);
        font-size: 100%;
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        transition: background-color 0.3s;
    }

    *,
    *:before,
    *:after {
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .cs-topper {
        color: var(--primary);
        display: block;
        font-size: var(--topperFontSize);
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.2em;
        margin-bottom: 0.25rem;
        text-align: inherit;
        text-transform: uppercase;
    }

    .cs-title {
        color: var(--headerColor);
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        // margin: 0 0 1rem 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 43.75rem;
        position: relative;
        text-align: inherit;
    }

    .cs-text {
        color: var(--bodyTextColor);
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        // margin: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 40.625rem;
        text-align: inherit;
        width: 100%;
    }
}

/* Components + Utilities */
@media only screen and (min-width: 0rem) {
    // Hidden screen reader skip nav button
    .skip {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: -1111111;
    }

    // Buttons - can be replaced using CodeStitch's "Button" Stitches. Make sure to clear the default .cs-button-solid/outline styles from any new stitches you place.
    .cs-button-solid {
        background-color: #fff;
        border-radius: calc(4 / 16 * 1.5rem);
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);

        // Transition Properties
        color: var(--buttonTextColor);
        display: inline-block;
        font-size: calc(16 / 16 * 1rem);
        font-weight: bold;
        line-height: calc(16 / 16 * 1em);
        overflow: hidden;
        padding: calc(16 / 16 * 1rem) calc(32 / 16 * 1rem);
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s;
        width: auto;
        z-index: 1;

        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
            transform: translateY(-3px);
   
        }
    

    }

    .cs-button-outline {
        border: 2px solid #000;

        // Transition Properties
        color: #000;
        display: inline-block;
        font-size: calc(16 / 16 * 1rem);
        font-weight: bold;
        line-height: calc(16 / 16 * 1em);
        padding: calc(16 / 16 * 1rem) calc(32 / 16 * 1rem);
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.3s;
        transition-delay: 0.1s;
        width: auto;
        z-index: 1;

        &:hover {
            color: #fff;

            &:before {
                width: 100%;
            }
        }

        &:before {
            background-color: #000;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            transition: width 0.3s;

            //Transition properties
            width: 0;
            z-index: -1;
        }
    }

    // Utilities - small classes useful in various common situations
    .cs-color {
        color: var(--primary);
    }

    .cs-bold {
        font-weight: 700;
    }

    .cs-hide-on-mobile {
        display: none !important;
    }

    .cs-dark,
    .dark {
        display: none !important;
    }

    body.dark-mode {
        .cs-light,
        .light {
            display: none !important;
        }

        .cs-dark,
        .dark {
            display: block !important;
        }

        .cs-button-outline {
            border-color: #fff;
            color: #fff;
        }
    }
}

/* Desktop Utilities */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block !important;
    }

    .cs-hide-on-desktop {
        display: none !important;
    }
}

/* Base Element Styles */
@media only screen and (min-width: 0rem) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--headerColor);
        font-family: var(--headerFont);
        line-height: 1.2em;
    }

    p,
    li,
    a {
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: var(--bodyTextColor);

        a {
            color: var(--primary);
        }
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    body.dark-mode {
        background-color: var(--dark);

        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
    }
}

/* Fonts */
@media only screen and (min-width: 0rem) {
    // Grab your fonts to locally host from https://gwfh.mranftl.com/fonts
    /* roboto-regular - latin */
    @font-face {
        font-display: swap;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    /* roboto-700 - latin */
    @font-face {
        font-display: swap;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    /* roboto-900 - latin */
    @font-face {
        font-display: swap;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                fill: #fff;
                opacity: 0;
                transform: translate(-50%, -150%);
            }
        }
    }

    #dark-mode-toggle {
        background: transparent;
        border: none;
        display: block;
        height: calc(48 / 16 * 1rem);
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: calc(70 / 16 * 1rem);
        top: calc(10 / 16 * 1rem);
        width: calc(48 / 16 * 1rem);
        z-index: 1000;

        img,
        svg {
            height: calc(20 / 16 * 1rem);
            left: 50%;
            pointer-events: none;
            //center image inside button
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(20 / 16 * 1rem);
        }

        .cs-moon {
            // Transition properties
            transition: transform 0.3s, opacity 0.3s;
            z-index: 2;

            // fill: yellow; --> uncomment to change the color of the moon if needed
        }

        .cs-sun {
            opacity: 0;
            // Transition property
            transform: translate(-50%, 100%);
            transition: transform 0.3s, opacity 0.3s;
            z-index: 1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 1024px) {
    #dark-mode-toggle {
        margin: 0;
        position: relative;
        right: auto;
        top: auto;
        transform: none;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023.5px */
@media only screen and (max-width: 1023.5px) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }

    #cs-navigation {
        background-color: #161616;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
        position: fixed;
        width: 100%;
        z-index: 10000;

        &:before {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background: rgba(0, 0, 0, 0.6);
            /* black blurred overlay */
            content: "";
            display: block;
            height: 100vh;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 100%;
            transition: width 0.5s, opacity 0.3s;
            width: 0%;
            z-index: -11;
        }

        &.cs-active {

            &:before {
                opacity: 1;
                width: 100%;
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleX(1);
                transition-delay: 0.2s;
            }

            .cs-li {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .cs-container {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        .cs-logo {
            align-items: center;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            height: 100%;
            justify-content: center;
            margin: 0 auto 0 0;
            max-width: calc(146 / 16 * 1rem);
            padding: 0;
            width: 40%;
            z-index: 10;

            img {
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                /* places the image to the left edge of the parent */
                object-position: left;
                width: 100%;
            }
        }

        .cs-toggle {
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: calc(4 / 16 * 1rem);
            display: flex;
            height: clamp(2.75rem, 6vw, 3rem);
            justify-content: center;
            margin: 0 0 0 auto;
            /* 44px - 48px */
            width: clamp(2.75rem, 6vw, 3rem);
        }

        .cs-active {
            .cs-line {
                background-color: var(--primary);
            }
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 14px - 16px */
            height: clamp(0.875rem, 1.5vw, 1rem);
            position: relative;
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
        }

        .cs-line {
            background-color: #fff;
            border-radius: 2px;
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;
        }

        .cs-line1 {
            animation-direction: normal;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
            top: 0;
            transform-origin: center;
            transition: transform 0.5s, top 0.3s, left 0.3s;
        }

        .cs-line2 {
            animation-direction: normal;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top 0.3s, left 0.3s, transform 0.5s;
        }

        .cs-line3 {
            bottom: 0;
            transition: bottom 0.3s, opacity 0.3s;
        }

        .cs-ul-wrapper {
            background-color: #161616;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            height: 100vh;
            left: auto;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 100%;
            transform: scaleX(0);
            transform-origin: top right;
            transition: transform 0.4s, opacity 0.3s;
            z-index: -1;
        }

        .cs-ul {
            align-items: flex-end;
            background-color: #161616;
            display: flex;
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
            height: 65vh;
            justify-content: flex-start;
            margin: 0;
            min-width: 40%;
            overflow: scroll;
            /* 28px - 40px */
            padding: calc(48 / 16 * 1rem) clamp(1.75rem, 3vw, 2.5rem) calc(32 / 16 * 1rem) calc(70 / 16 * 1.5rem);
            width: auto;
        }

        .cs-li {
            list-style: none;
            margin-right: 0;
            opacity: 0;
            text-align: right;
            /* transition from these values */
            transform: translateX(-2.5rem);
            transition: transform 0.6s, opacity 0.9s;
            width: 100%;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            color: var(--headerColor);
            display: inline-block;
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            margin: 0;
            position: relative;
            text-decoration: none;

            &:before {
                background: currentColor;
                bottom: calc(-2 / 16 * 1rem);
                /* active state underline */
                content: "";
                display: none;
                height: 1px;
                left: 0;
                opacity: 1;
                position: absolute;
                width: 100%;
            }

            &.cs-active {
                color: var(--primaryLight);
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 1023.5px) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);

            .cs-logo {
                /* makes it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-line {
                background-color: #fff;
            }

            .cs-ul-wrapper {
                background-color: var(--medium);
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023.5px */
@media only screen and (max-width: 1023.5px) {
    #cs-navigation {
        .cs-dropdown {
            color: var(--bodyTextColorWhite);
            position: relative;
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    margin: calc(12 / 16 * 1rem) 0 0 0;
                    opacity: 1;
                    padding: calc(24 / 16 * 1rem);
                    transform: scale(1);
                    visibility: visible;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
            }
        }

        .cs-drop-icon {
            height: auto;
            position: absolute;
            right: calc(-20 / 16 * 1rem);
            top: 50%;
            transform: translateY(-50%);
            width: calc(15 / 16 * 1rem);
        }

        .cs-drop-ul {
            align-items: flex-end;
            background-color: var(--primary);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
            height: 0;
            justify-content: flex-start;
            margin: 0;
            opacity: 0;
            overflow: hidden;
            padding: 0 calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
            transform: scale(0);
            transform-origin: top right;
            transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, transform 0.3s, visibility 0.3s;
            visibility: hidden;
            width: 100%;
        }

        .cs-drop-li {
            list-style: none;
            text-align: inherit;
        }

        .cs-li-link {
            &.cs-drop-link {
                color: #fff;
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 1024px) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;

            &:hover,
            &:focus-within {
                cursor: pointer;

                .cs-drop-ul {
                    opacity: 1;
                    transform: scaleY(1);
                    visibility: visible;
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            display: inline-block;
            height: auto;
            width: calc(15 / 16 * 1rem);
        }

        .cs-drop-ul {
            background-color: #fff;
            border-bottom: 5px solid var(--primary);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            margin: 0;
            min-width: calc(200 / 16 * 1rem);
            opacity: 0;
            overflow: hidden;
            padding: 0;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
            visibility: hidden;
            z-index: -100;
        }

        .cs-drop-li {
            color: var(--bodyTextColor);
            display: block;
            font-size: calc(16 / 16 * 1rem);
            height: auto;
            list-style: none;
            opacity: 0;
            text-decoration: none;
            transform: translateY(-0.625rem);
            transition: opacity 0.6s, transform 0.6s;
            width: 100%;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                background-color: #f7f7f7;
                /* prevents padding and border from affecting height and width */
                box-sizing: border-box;
                color: var(--bodyTextColor);
                display: block;
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
                outline: none;
                padding: calc(12 / 16 * 1rem);
                text-decoration: none;
                transition: color 0.3s, background-color 0.3s;
                white-space: nowrap;
                width: 100%;

                &:hover {
                    background-color: #f0f0f0;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background-color: var(--dark);
            }

            .cs-li-link {
                &.cs-drop-link {
                    background-color: var(--medium);

                    &:hover {
                        background-color: var(--light);
                    }
                }
            }

            .cs-drop-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 1024px) {
    #cs-navigation {
        background-color: #161616;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0 calc(16 / 16 * 1rem);
        position: fixed;
        width: 100%;
        z-index: 10000;

        .cs-container {
            align-items: center;
            display: flex;
            gap: calc(24 / 16 * 1rem);
            justify-content: flex-end;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            align-items: center;
            display: flex;
            height: calc(65 / 16 * 1rem);
            justify-content: center;
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            max-width: calc(350 / 16 * 1rem);
            padding: 0;
            width: 18.4%;
            z-index: 100;

            img {
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                width: 100%;
            }
        }

        .cs-ul {
            align-items: center;
            display: flex;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
            justify-content: flex-start;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .cs-li {
            /* prevent flexbox from squishing it */
            flex: none;
            list-style: none;
            padding: calc(32 / 16 * 1rem) 0;
        }

        .cs-li-link {
            color: #bababa;
            display: block;
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            position: relative;
            text-decoration: none;
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &.cs-active {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                background: var(--primary);
                bottom: calc(0 / 16 * 1rem);
                /* active state underline */
                content: "";
                display: block;
                height: 2px;
                left: 0;
                opacity: 1;
                position: absolute;
                transition: width 0.3s;
                width: 0%;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 1024px) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);

            .cs-logo {
                /* makes it turn white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-li-link {
                &:before {
                    background-color: var(--primaryLight);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-310 {
        background-color: rgba(33, 158, 188, 0.05);
        /* 80px - 140px */
        padding-bottom: clamp(5rem, 13vw, 8.75rem);
        /* 144px - 252px */
        padding-top: clamp(9rem, 25vw, 15.75rem);
        position: relative;
        z-index: 1;

        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
        }

        .cs-int-title {
            color: var(--primary);
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 auto calc(12 / 16 * 1rem);
            max-width: calc(700 / 16 * 1rem);
            position: relative;
            text-align: center;
        }

        .cs-breadcrumbs {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cs-link {
            align-items: center;
            color: var(--bodyTextColorWhite);
            display: flex;
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            justify-content: center;
            line-height: 1.2em;
            position: relative;
            text-decoration: none;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                background: url("/assets/svgs/chevron.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                /* chevron - added as pseudo to make adding and removing them easier */
                content: "";
                height: calc(12 / 16 * 1rem);
                margin-left: calc(12 / 16 * 1rem);
                margin-right: calc(12 / 16 * 1rem);
                width: calc(7 / 16 * 1rem);
            }

            &.cs-active {
                color: var(--primaryLight);
            }
        }

        .cs-background {
            display: block;
            height: 85%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;

            &:before {
                /* black overlay box */
                content: "";
                display: block;
                height: 100%;
                left: 0;
                opacity: 0.72;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            img {
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-51 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
        }

        .cs-content {
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            display: flex;
            flex-direction: column;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
            margin-bottom: calc(16 / 16 * 1rem);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-picture {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            z-index: -1;

            &:before {
                background: #000;
                /* black color overlay */
                content: "";
                display: block;
                height: 100%;
                left: 0;
                opacity: 0.8;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            img {
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #footer-1390 {
        background-color: #161616;
        // padding: var(--sectionPadding);
        padding: 2rem;
        position: relative;
        z-index: 1;

        .cs-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
        }

        .cs-top {
            align-items: center;
            border-bottom: 1px solid #484848;
            display: flex;
            flex-direction: column;
            /* 24px - 40px */
            gap: clamp(1.25rem, 4vw, 2.5rem);
            justify-content: center;
            margin-bottom: calc(40 / 16 * 1rem);
            /* 24px - 64px */
            // padding-bottom: clamp(1.5rem, 5vw, 4rem);
            padding-bottom: clamp(1rem, 4vw, 2rem);
            width: 100%;
        }

        .cs-ul {
            align-items: center;
            /* 24px - 36px */
            column-gap: clamp(1.5rem, 4vw, 2.25rem);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 0;
            row-gap: calc(8 / 16 * 1rem);
        }

        .cs-li {
            list-style: none;
        }

        .cs-link {
            color: #bababa;
            display: block;
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-logo {
            display: block;
            height: auto;
            max-width: calc(209 / 16 * 1rem);
            width: 100%;
        }

        .cs-logo-img {
            display: block;
            height: auto;
            width: 100%;
        }

        .cs-bottom {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
            width: 100%;
        }

        .cs-social {
            align-items: center;
            display: flex;
            gap: calc(8 / 16 * 1rem);
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            align-items: center;
            background-color: #484848;
            border-radius: 50%;
            display: flex;
            height: calc(32 / 16 * 1rem);
            justify-content: center;
            transition: background-color 0.3s;
            width: calc(32 / 16 * 1rem);
            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    filter: grayscale(1) brightness(1000%);
                    opacity: 1;
                }
            }
        }

        .cs-social-icon {
            display: block;
            height: auto;
            opacity: 0.6;
            transition: opacity 0.3s;
            width: calc(12 / 16 * 1rem);
        }

        .cs-copyright {
            color: #bababa;
            display: block;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
        }

        .cs-copyright-link,
        .cs-separater {
            color: #bababa;
            font-size: calc(16 / 16 * 1rem);
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-separater {
            display: inline-block;
            margin: 0 calc(16 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #footer-1390 {
        .cs-top {
            align-items: flex-start;
        }

        .cs-bottom {
            flex-direction: row;
            justify-content: center;
        }

        .cs-flex {
            margin: 0 auto;
        }

        .cs-social {
            /* sends it to the right in the 3rd position */
            order: 3;
        }
    }
}
                                